label + .radioWrapper {
    margin-top: 1rem;
}

.radioWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
    gap: 0.8rem;
}



.radioInner {
    border: solid 1px var(--stroke-default);
    border-radius: 0.5rem;
    
    display: grid;
    justify-items: center;
    gap: 1px;
    
    padding: 2rem 0.5rem 0.5rem;
    
    position: relative;
    
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }
    
    
    .radioImage {
        width: 1.4rem;
        height: 1.4rem;
        background-image: url('../../Assets/Icons/Interface/radio-default.svg');

        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }

    &:hover, &:focus-within {
        border: 1px solid var(--stroke-highlight);

       & .radioImage {
            background-image: url('../../Assets/Icons/Interface/radio-hover.svg');
        }
    }

    &:has(:checked) {
        border: 2px solid var(--stroke-highlight);

        & .radioImage {
            background-image: url('../../Assets/Icons/Interface/radio-checked.svg');
        }
    }
}